img{
  vertical-align: bottom;
}
.slide{
  position: relative;
  width: 100vw;
  height: 100vw;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.slide li{
  position: absolute;
/*  top: 0;*/
/*  left: 0;*/
  display: none;
/*
  width: 100%;
  height: 100%;
*/
  transition: all 1s;
  transition-property: all;
}

.slide li.current{
  display: block;
}

.slide li img{
/*
  width: 100vw;
  height: 100vmin;
*/
}

.button-prev{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.button-next{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
